.items-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  background-color: #232f3e;
  color: #fff;
  height: 70px;
  .items-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
  }
  .buttons-panel {
    margin-left: auto;
    margin-right: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
  };
}

.store-items {
  margin-top: 70px;
  .store-item {
    cursor: pointer;
    height: 30px;
    display: flex;
    justify-content: space-between;
    .add-item {
      display: none;
    }
  }

  .store-item:hover {
    .add-item {
      display: inline-block;
    }
    .item-name {
      font-weight: bold;
    }
  }

}
