<header>
  <div class="items-header">
    <div class="items-heading">
      <h3>Sezzle Store</h3>
    </div>
    <div class="buttons-panel btn-group">
      <button [disabled]="!addedItems.length" class="btn btn-primary" (click)="checkout()">Checkout</button>
      <button class="btn btn-primary" (click)="viewCart()">
        Cart <span class="badge badge-light">{{addedItems.length}}</span>
      </button>
      <button class="btn btn-primary" (click)="showHistory()">Order History</button>
      <button class="btn btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>
</header>
<main class="store-items">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of items$ | async">
      <div class="store-item">
        <div class="item-name">{{item.name}}</div>
        <button class="btn btn-sm btn-success add-item" (click)="addToCart(item)">Add to cart</button>
      </div>
    </li>
  </ul>
</main>
