<div class="container">
  <div class="jumbotron login-header">
    <h1>Welcome</h1>
    <h2>Sezzle Shopping Store</h2>
  </div>
  <div class="panel panel-primary" style="width: 50%; margin-left: auto; margin-right: auto;">
    <div class="panel-heading">{{isLogin ? 'Enter login details' : 'Enter signup details'}}</div>
    <div class="panel-body">
      <form *ngIf="isLogin">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="input" name="username" class="form-control" [(ngModel)]="user_name" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Password">
        </div>
        <div class="submit-panel">
          <button [disabled]="!user_name || !password" (click)="login()" class="btn btn-primary">Login</button>
          <a class="no-account" href="javascript:void(0);" (click)="isLogin = false;">No Account? Click here to create</a>
        </div>
      </form>
      <form *ngIf="!isLogin">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="input" name="name" class="form-control" [(ngModel)]="name" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="input" name="username" class="form-control" [(ngModel)]="user_name" id="username" placeholder="Enter username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control" [(ngModel)]="password" id="password" placeholder="Password">
        </div>
        <div class="submit-panel">
          <button [disabled]="!user_name || !password || !name" (click)="signUp()" class="btn btn-primary">Create Account</button>
          <a class="no-account" href="javascript:void(0);" (click)="isLogin = true;">Already have account? Click here to login</a>
        </div>
      </form>
    </div>
  </div>
</div>
