.login-header {
  background-color: #232f3e;
  border-radius: 0%;
  color: #fff;
}

.panel-heading {
  background-color: #232f3e;
  border-color: #232f3e;
}
.panel-primary {
  border-color: #232f3e;
}

.submit-panel {
  display: flex;
  line-height: 30px;
  .no-account {
    margin-left: 10px;
  }
}
